.mvv{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.card{
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

body {
    background-color: black;
}